{% block precontent %}
{% endblock %}
<!-- precontent ends -->
{% block maincontent %}
    {{ content | safe }}
{% endblock %}
<!-- content ends -->
<!-- postcontent begins -->
{% block postcontent %}
{% endblock %}
<!-- postcontent ends -->

