{% extends "default.njk" %}

{% set templateName = "topic" %}

{% block socialhead %}
<!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
{% endblock %}



{% block header %}
    <h1 class="header">
        {{title}}
    </h1>
    <div id="header__social-icons">
    </div>
{% endblock %}