@media (prefers-color-scheme: dark)
    :root
        --border-base: yellow
        --background-color: #121212
    body
        color: #eee
        background: var(--background-color)
    body a
        color: #809fff
    h1, h2, h3, h4, h5, h6
        color: #dcdcdc
