@use 'variables'

#template-tag
    header
        border: 1px yellow solid
        clip-path: polygon(0% 0%, 80% 0%, 70% 100%, 0% 100%)
        background: var(--border-base)
        margin-left: -15px
        & > *
            color: var(--border-overlap)
            width: fit-content
            @media (max-width: variables.$mobile-width)
                width: 100%
        h2
            padding: 10px 10px
    main
        margin-top: 20px
    #maincontent
        ul
            display: grid
            gap: 20px 25px
            grid-template-columns: repeat(2, 1fr)
            @media print, screen and (max-width: variables.$mobile-width)
                grid-template-columns: repeat(1, 1fr)
            li
                flex-basis: 450px
                flex-shrink: 0
                flex-grow: 4
        .post-summary
            height: 100%
            position: relative
            .post-summary__inside-content
                padding-bottom: 50px
            .read-more
                position: absolute
                bottom: 15px
            a
                color: #0700d9
                &:hover
                    text-decoration: none
                @media (prefers-color-scheme: dark)
                    color: var(--base-font-color)
            img
                margin: 5px auto
                max-width: 80%
                display: block
            button
                background-color: var(--light-highlight)
                color: var(--light-highlight-overlap)
                margin-top: 18px
        figcaption
            max-width: 75%
            color: var(--base-font-color)
            text-decoration: none
            font-size: x-small
            display: block
            margin: 10px auto
            &:hover
                text-decoration: none
            & > *
                text-decoration: none
            em
                font-size: 9px
                font-style: italic
                margin-top: -5px
