@use 'variables'

body, wrapper
    max-width: 100%
    display: block
    text-align: center
img
    max-width: 100%
    max-height: 85vh
h1
    font-size: 60px
    line-height: 16px
p:first-of-type
    margin-top: 0
    padding-top: 0
