#template-topic
    #maincontent
        width: 80%
        height: auto
        display: block
        margin: 10px auto
    .contexter-box, iframe, embed
        margin: 10px auto
    .twitter-tweet
        margin: 0px auto
    blockquote
        max-width: 600px
    p > a
        display: block
        margin: 10px auto
        text-align: center
