@use 'variables'

#template-topic
    main
        margin-top: 8px
    .pre-content-last-update
        font-size: smaller
        font-style: italic
    #maincontent
        width: 80%
        height: auto
        display: block
        margin: 10px auto
        @media (max-width: variables.$mobile-width)
            width: 100%
        h1, h2, h3, h4, h5, h6
            margin-top: 70px
            margin-bottom: 62px
            padding-bottom: .8em
            padding-top: 12px
            border-bottom: 2px solid gray
            text-align: center
            z-index: 101
            display: block
            position: relative
            background: var(--background-color)
            height: auto
            word-wrap: break-word
            white-space: break-spaces
        p
            max-width: 600px
            margin: 0 auto
        h2:first-of-type
            margin-top: 0
        & > p > a
            display: block
            margin: 10px auto
            text-align: center
            width: 600px
            display: block
            min-height: 80px
            background-color: gray
            padding: 10px
            background-color: #f5f6f7
            overflow: hidden
            word-break: break-all
            @media (prefers-color-scheme: dark)
                background-color: #354150
            @media (max-width: variables.$mobile-width)
                width: 310px
        & > iframe
            width: 600px
            height: 400px
            margin: 8px auto
            display: block
            @media (max-width: variables.$mobile-width)
                width: 310px
                height: 200px
    .contexter-box, iframe, embed
        margin: 10px auto
    .twitter-tweet
        margin: 0px auto
    blockquote
        max-width: 600px
        & > *, & > * > *
            text-align: left
    aside.toc
        display: block
        margin: 0
        border-bottom: 3px solid var(--border-base)
        padding: 4px 10px 6px
        width: 100%
        position: fixed
        background-color: var(--background-color)
        top: 40px
        left: 0
        overflow-y: auto
        overflow-x: hidden
        max-height: 64px
        z-index: 99
        li
            display: inline-block
            &:not(:last-of-type)::after
                content: "|"
                padding: 0 12px
                text-decoration: none
                color: var(--c4)
                display: inline-block
    .wrapper
        padding-top: calc( var(--header-buffer) + 64px )
        header
            width: 90%
            text-align: center
            margin: 30px auto
            padding: 0
            background-size: cover
            background-repeat: no-repeat
            background-attachment: fixed
            background-position: center
            line-height: 1em
            font-size: 30px
            .header-inner
                background-color: rgba(255, 255, 255, .60)
                padding: 100px 20vw
                width: 100%
                height: 100%
                display: block
                @media (max-width: variables.$mobile-width)
                    padding: 100px 8vw
            .header
                margin: .6em 0
                font-weight: normal
                padding: 1em
                background-color: var(--dark-highlight)
                color: var(--dark-highlight-overlap)
                clip-path: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10% )
                @media (max-width: variables.$mobile-width)
                    font-size: 28px
            & > *
                width: fit-content
            & > h1
                margin: 10px auto 0
                @media (max-width: variables.$mobile-width)
                    width: 100%
