#template-tag
    header
        border: 1px yellow solid
        clip-path: polygon(10% 0%, 80% 0%, 70% 100%, 0% 100%)
        background: var(--border-base)
        & > *
            color: black
        h2
            padding: 10px 10px
    #maincontent
        .post-summary
            margin-top: 20px
            img
                margin: 5px auto
            button
                margin-top: 18px
