{% if site.author %}
{
    "@type": "Person",
    "name": {
        "@type": "PronounceableText",
        "inLanguage": "en-US",
        "textValue": "Aram Zucker-Scharff",
        "speechToTextMarkup": "IPA",
        "phoneticText": "/ˌæ.ɹəm ˈt͡sʊ.kɚ 'ʃɑɹf/"
    },
    "description": "Aram Zucker-Scharff is Lead Privacy Engineer at The Washington Post, lead dev for PressForward and a consultant. Tech solutions for journo problems.",
    "disambiguatingDescription": "A media-focused developer and strategist.",
    "sameAs": "http://aramzs.github.io/aramzs/",
    "image": {
        "@type": "ImageObject",
        "url": "{{ site.aramPhoto }}"
    },
    "givenName": "Aram",
    "familyName": "Zucker-Scharff",
    "alternateName": "AramZS",
    "publishingPrinciples": "http://aramzs.github.io/about/"
}
{% endif %}