{
  "@context":"https://schema.org",
  "@type":"LiveBlogPosting",
  "@id":"{{timelinesConfig.domainName}}{{ page.url }}",
  "about":{
    "@type":"Event",
    "startDate":"{{ timelineObj.startDate or timelineObj.shortdate }}",
    "name":"{{ timelineObj.topic or timelineObj.title }}"
  },
  "coverageStartTime":"{{ timelineObj.firstUpdatedPost }}",
  "coverageEndTime":"{{ timelineObj.lastUpdatedPost }}",
  "headline":"{{ timelineObj.title }}",
  "description":"{{ timelineObj.description }}",
  "liveBlogUpdate":[
    {% for entry in collections[timelineSlug] %}
        {% set timelineItem = entry %}
        {% set timelineItemContent = entry.data.content %}
    {
      "@type":"BlogPosting",
      "headline":"{{- timelineItem.data.title }}",
      "datePublished":"{{ timelineItem.data.date }}",
      "articleBody": "{{ timelineItemContent }}"{%- if timelineItem.data.isBasedOn %},
      "isBasedOn": "{{ timelineItem.data.isBasedOn }}"{% endif %}{%- if timelineItem.data.image %},
      "image": "{{ timelineItem.data.image }}"
      {% endif %}
    }{% if entry !== collections[timelineSlug] | sort | last %},{% endif %}
    {% endfor %}
  ]
}