<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "url": "{{site.site_url or timelinesConfig.domainName}}{{ page.url }}",
        {% block jsonLdDetail %}
        "@id": "{{site.site_url or timelinesConfig.domainName}}{{ page.url }}",
        "@type": "Blog",
        "headline": "{{ title or site.site_name }}{% if metatitle %}: {{ metatitle }} {% endif %}",
        "about": "{{ description or site.description }}",
        "additionalType": "Blog",
        {% endblock %}
        {% if isBasedOn %}
        "isBasedOn": "{% if localBasedOn %}{{site.site_url or timelinesConfig.domainName}}{% endif %}{{ isBasedOn }}",
        {% endif %}
        {% if site.person %}
        "editor": {% include "partials/json-ld-objs/person.njk" %},
        {% endif %}
        "isAccessibleForFree": "True",
        "inLanguage": "en-US",
        "license": "http://creativecommons.org/licenses/by-sa/4.0/",
        {% if site.publisher %}
        "publisher": {
            "@type": "Organization",
            "name": "{{site.publisher.name or site.site_name}}",
            "description": "{{site.publisher.description or site.description }}",
            "sameAs": "{{site.publisher.domain or site.site_domain }}",
            {% if site.publisher.logo %}
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.publisher.logo }}"
            },
            {% endif %}
            "publishingPrinciples": "{{site.publisher.principles or ''}}"
        },
        {% endif %}
        "alternateName": "{{site.site_name}}"

    }
</script>
