<meta charset="utf-8" />
{% if metatitle %}
<title>{{- metatitle -}}</title>
<meta property="og:title"
    content="{{ metatitle | striptags(false) | safe | truncate(160) }}">
<!-- This property is for the article title, not site title. -->
<meta name="twitter:title" content="{{ metatitle | striptags(false) | safe | truncate(160) }}" />
{% else %}
    {% if title %}
    <title>{{- title -}}</title>
    <meta property="og:title"
        content="{{ title | striptags(false) | safe | truncate(160) }}">
    <!-- This property is for the article title, not site title. -->
    <meta name="twitter:title" content="{{ title | striptags(false) | safe | truncate(160) }}" />
    {% else %}
    <title>Timeline</title>
    <meta property="og:title"
        content="Timeline">
    <!-- This property is for the article title, not site title. -->
    <meta name="twitter:title" content="Timeline" />
    {% endif %}

{% endif %}

{% if metadescription %}
<meta name="description" content="{{ metadescription | striptags(false) | truncate(160) }}">
<meta name="twitter:description" content="{{ metadescription | striptags(false) | truncate(160) }}" />
<meta property="og:description"
    content="{{ metadescription | striptags(false) | truncate(160) }}">
{% else %}

    {% if description %}
    <meta name="description" content="{{ description | striptags(false) | truncate(160) }}">
    <meta name="twitter:description" content="{{ description | striptags(false) | truncate(160) }}" />
    <meta property="og:description"
        content="{{ description | striptags(false) | truncate(160) }}">
    {% endif %}

{% endif %}

{% if author %}
<meta name="author" content="{{ author }}" /
{% endif %}
<!-- Article specific OG data -->
<!-- The OG:Type dictates a number of other tags on posts. -->
<meta property="og:type" content="article" />
{% if authorFacebook %}
<!-- Here my author and publisher tags are the same (yay self-publishing) -->
<meta property="article:author" content="{{authorFacebook}}" />
<!-- But if your site has its own page, this is where to put it. -->
<meta property="article:publisher" content="{{authorFacebook}}" />
{% endif %}

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link
  href="https://fonts.googleapis.com/css?family=Roboto+Slab|Hind+Vadodara:400,600"
  rel="stylesheet"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="{{timelinesConfig.cssPath}}/normalize.css" />
<link rel="stylesheet" href="{{timelinesConfig.cssPath}}/main.css" />
<link rel="stylesheet" href="{{timelinesConfig.domainName}}/{{timelinesConfig.customCSS}}" />
<link rel="icon" type="image/png" href="{{timelinesConfig.domainName}}/favicon.ico" />




<meta property="og:url"
    content="{{timelinesConfig.domainName}}{{ page.url }}" />

<meta property="og:site_name" content="{{ site.site_name }}" />

<meta property="og:locale" content="en_US" />

<meta name="twitter:site" content="@chronotope" />

<!-- I prefer the summary_large_image Twitter card for posts. -->
<meta name="twitter:card" content="summary_large_image" />

{% if featuredImage %}

<meta property="og:image" content="{{timelinesConfig.domainName or site.site_url}}/img/{{featuredImage}}" />
<meta name="twitter:image" content="{{timelinesConfig.domainNameor site.site_url}}/img/{{featuredImage}}" />

{% endif %}


    <meta property="article:published_time" content="{{ page.date.toUTCString() }}" />


    {% if filters %}
        <!-- I use the page.categories property for OG tags. -->
        {% for filter in filters %}
        <meta property="article:tag" content="{{filter}}" />
        {% endfor %}
        <meta name="keywords" content="{{ filters | join(', ') }}">
    {% endif %}

{% set lastModMeta = lastUpdatedPost or page.date %}
<meta name="last_updated_date" content="{{ lastModMeta | makeISODate }}">
<meta property="article:modified_time" content="{{ lastModMeta | makeISODate }}">

<link rel="canonical" href="{{timelinesConfig.domainName or site.site_url}}{{ page.url }}" />


<script src="{{timelinesConfig.jsPath}}/site-js.js" defer></script>