<div class="timeline-entry" data-category='{% for item in entry.data.categories %}{{ item }} {% endfor %}' aria-hidden="false">
                    <!-- {{ entry | console }} -->
                    <div class="timeline-icon {{- entry.data.color or "grey" }}">
                        {% if entry.data.faicon %}
                            <i class="fas fa-{{- entry.data.faicon }}" aria-hidden="true"></i>
                        {% endif %}
                    </div>
                    <div class="timeline-description">
                        <span class="timestamp">
                            <time datetime="{{- entry.data.date }}">
                                {%- humanizeDate entry.data.date %}
                            </time>
                        </span>
                        <h2><a id="{{- entry.data.title | slugify -}}" href="#{{- entry.data.title | slugify -}}"><i class="fas fa-link"></i></a>{{- entry.data.title }}</h2>
                        {% if entry.data.image %}
                            <div class="captioned-image image-right">
                                {% if entry.data.image.link %}<a href="{{- entry.data.image.link -}}">{% endif %}
                                <img src="{{- entry.data.image.src -}}" alt="{{- entry.data.image.src -}}" />
                                {% if entry.data.image.link %}</a>{% endif %}
                                {% if entry.data.image.caption %}
                                    <span class="caption">{{- entry.data.image.caption -}}</span>
                                {% endif %}
                            </div>
                        {% endif %}
                        {%- if entry.data.isBasedOn and entry.data.customLink %}
                            <a target="_blank" href="{{entry.data.customLink}}">Read the article</a>
                        {%- endif %}
                        {% if entry.data and entry.data.content %}

                        {{- entry.data.content or "" }}

                        {% endif %}
                        {% if entry.data.links %}
                            <ul>
                                {% for link in entry.data.links %}
                                    <li>
                                        <a href="{{- link.href -}}" target="_blank">{{- link.linkText }}</a>{{- link.extraText }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>