---js
{
    eleventyComputed: {
        applyThis: {
            timelineCheck: function(siteContext){
                if (siteContext){
                    console.log(siteContext.timeline, "Global check")
                }
            },
        },
        title: function(siteContext){
            if (siteContext?.timeline)
                return siteContext.timeline.title

            return '';
        },
        description: function(siteContext){
            if (siteContext?.timeline)
                return siteContext.timeline.description

            return '';
        },
        tags: function(siteContext){
            if (siteContext?.timeline)
                return siteContext.timeline.tags

            return [];
        },
        categories: function(siteContext){
            if (siteContext?.timeline)
                return siteContext.timeline.categories

            return '';
        },
        filters: function(siteContext){
            if (siteContext?.timeline)
                return siteContext.timeline.filters

            return [];
        },
        date: function(siteContext){
            if (siteContext?.timeline)
                return siteContext.timeline.date

            return "Last Modified";
        },
        header: function(siteContext){
            if (siteContext?.timeline)
                return siteContext.timeline.header

            return [];
        },
        color: function(siteContext){
            if (siteContext?.timeline)
                return siteContext.timeline.color

            return 'grey';
        },
        shortdate: function(siteContext){
            if (siteContext?.timeline)
                return siteContext.timeline.shortdate

            return false;
        }
    }
}
---
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>

{% include "./head.njk" %}

</head>
<body>
    {% if header  %}
    <header class="page-header">
        <h1>{{ title }}</h1>
        <p>{{ header }}</p>
    </header>
    {% endif %}
    <section>
            <!--
        {{ eleventyComputed | console }}
     -->
        <div class="timeline-filter-wrapper">
            <header class="timeline-filter">
                <ul>
                    <li>
                        <input type="checkbox" name="filter-shortcut" id="all" checked /> <label for="all">All</label>
                    </li>
                    {% for filter in filters %}
                        <li>
                            <input type="checkbox" name="filter" id="{{ filter }}" checked /> <label for="{{ filter }}">
                                {{- filter -}}
                            </label>
                        </li>
                    {% endfor %}
                    </ul>
                </header>
            </div>
            <article class="timeline" data-timeline="{{timelineSlug}}">
            {% for entry in collections[timelineSlug] %}
                {% include "./timeline-entry.njk" %}
            {% endfor %}
            </article>
        </section>
        {% if footer %}
        <footer class="page-footer">
            {{- footer }}
        </footer>
        {% endif %}
    </body>
</html>
