    {% include "./timeline-header.njk" %}
    <section>
            <!--
        {{ eleventyComputed | console }}
     -->

        {% include "./timeline-filters.njk" %}

        <article class="timeline" data-timeline="{{timelineSlug}}">
        {% for entry in collections[timelineSlug] %}
            {% include "./timeline-entry.njk" %}
        {% endfor %}
        </article>
    </section>
    {% include "./timeline-footer.njk" %}

