---js
{
    eleventyComputed: {
        applyThis: {
            timelineCheck: function(siteContext){
                if (siteContext){
                    console.log("Global check", siteContext.globalTimelines, 'for timeline', siteContext.timeline, ' and global object is ', siteContext)
                }
            },
        },
        timelineData: function(siteContext){
            if (siteContext?.globalTimelines.hasOwnProperty(siteContext.timeline)){
                return siteContext.globalTimelines[timeline]
            }
        },
        title: function(siteContext){
            if (siteContext?.title)
                return siteContext.title

            return '';
        },
        description: function(siteContext){
            if (siteContext?.description)
                return siteContext.description

            return '';
        },
        tags: function(siteContext){
            if (siteContext?.tags)
                return siteContext.tags

            return [];
        },
        categories: function(siteContext){
            if (siteContext?.categories)
                return siteContext.categories

            return '';
        },
        filters: function(siteContext){
            if (siteContext?.filters)
                return siteContext.filters

            return [];
        },
        date: function(siteContext){
            if (siteContext?.date)
                return siteContext.date

            return "Last Modified";
        },
        header: function(siteContext){
            if (siteContext?.header)
                return siteContext.header

            return [];
        },
        color: function(siteContext){
            if (siteContext?.color)
                return siteContext.color

            return 'grey';
        },
        shortdate: function(siteContext){
            if (siteContext?.shortdate)
                return siteContext.shortdate

            return false;
        },
        lastUpdatedPost: function(siteContext){
            if (siteContext?.lastUpdatedPost)
                return siteContext.lastUpdatedPost

            return false;
        },
    }
}
---
{% include "./timeline-item-wrapper.njk" %}
