    {% if header  %}
    <header class="page-header">
        <h1>{{ title }}</h1>
        <p>{{ header }}</p>
        <p>Last Update: {% humanizeDate lastUpdatedPost %}</p>
    </header>
    {% endif %}
    <section>
            <!--
        {{ eleventyComputed | console }}
     -->
        <div class="timeline-filter-wrapper">
            <header class="timeline-filter">
                <ul>
                    <li>
                        <button name="filters-off" id="none">Uncheck all</button>
                    </li>
                    <li>
                        <input type="checkbox" name="filter-shortcut" id="all" checked /> <label for="all">All</label>
                    </li>
                    {% for filter in filters | sort %}
                        <li>
                            <input type="checkbox" name="filter" id="{{ filter }}" checked /> <label for="{{ filter }}">
                                {{- filter -}}
                            </label>
                        </li>
                    {% endfor %}
                    </ul>
                </header>
            </div>
            <article class="timeline" data-timeline="{{timelineSlug}}">
            {% for entry in collections[timelineSlug] %}
                {% include "./timeline-entry.njk" %}
            {% endfor %}
            </article>
        </section>
        {% if footer %}
        <footer class="page-footer">
            {{- footer }}
        </footer>
        {% endif %}

