<h5 itemprop="author" itemscope itemtype="https://schema.org/Person">
    <link itemprop="sameAs" href="http://aramzs.github.io/aramzs/" />
    By <span itemprop="name">Aram Zucker-Scharff</span>
</h5>