
        <script defer data-domain="{{site.site_domain}}" src="https://plausible.io/js/plausible.js"></script>
        <link rel="alternate" type="application/rss+xml" title="{{site.site_name}} RSS" href="{{site.site_url}}/rss/" />
    	<link rel="alternate" type="application/atom+xml" title="{{site.site_name}} Feed" href="{{site.site_url}}/feed/" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{ title }}</title>