<nav>
    <ul>
        <li>
            <a href="{{ site.site_url }}"><h1>{{ site.site_name }}</h1></a>
        </li>
        <li>
            <a href="{{ site.site_url }}/topics">Topics</a>
        </li>
        <li>
            <a href="{{ site.site_url }}/about">About</a>
        </li>
    </ul>
</nav>