<article class="post-summary">
    <a href="{{ post.url }}"><div class="post-summary__image">
        {% set featuredImageAlt = post.data.featuredImageAlt %}
        {% set featuredImage = post.data.featuredImage %}
        {% set featuredImageCaption = post.data.featuredImageCaption %}
        {% set featuredImageCredit = post.data.featuredImageCredit %}
        {% set featuredImageLink = post.data.featuredImageLink %}
        {% include "partials/post-image.njk" %}
    </div></a>
    <div class="post-summary__inside-content">
    <h3>
        <a href="{{ site.site_url }}{{ post.url }}">{{post.data.title | safe}}</a>
    </h3>
    <p>
        {{ post.data.description | safe }}
    </p>
    </div>
    <div class="read-more">
        <a href="{{ site.site_url }}{{ post.url }}"><button>Read more...</button></a>
    </div>
</article>